@import "../../../scss/main.scss";

#helpToSection {
    height: 100vh;
}

.helpToWrapper {
    // height: 1200px;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $seventhColor;
}

.helpToWrapperTitle {
    margin-top: 5rem;
    font-size: 2.5rem;
    line-height: 3 rem;
}

.decorationImgHelpTo {
    padding: 2rem 0;
}

.helpToWrapperButtons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helpToWrapperBtn {
    border: none;
    width: 15rem;
    height: 5rem;
    font-size: 1.3rem;
    background-color: $whiteColor;
}

.helpToWrapperBtn:hover {
    border: 1px solid $eighthColor;
    cursor: pointer;
}

.helpToWrapperListTitle {
    margin: 4rem 0;
    width: 30%;
    font-size: 1.3rem;
    line-height: 1.8rem;
    // padding-bottom: 5rem;
}

.helpToWrapperListName {
    font-size: 1.6rem;
}

.helpToWrapperList {
    // height: 450px;
    height: 36vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    // margin-bottom: 1rem;
}

li.paginationContainerSide:hover {
    border: 1px solid $eighthColor;
    cursor: pointer;
    border-radius: 5%;
}

li.paginationContainerSide:active {
    color: yellow;
}