$whiteColor: #FFFFFF;
$blackColor: #000000;
$primaryColor: #F0F1F1; // bg color
$secondaryColor: #FAD648;
$thirdColor: #5E5322;
$fourthColor: #707070;
$fifthColor: #3C3C3C26;
$seventhColor: #3C3C3C;
$eighthColor: #737373;
$ninthColor: #231F20;
$tenthColor: #1A1818;
$eleventhColor: #FFFFFFC9;
        